.View-title {
  /* text-align: center; */
  color: #fff;
  height:5%;
  width:100%;
  background:  rgb(77, 115, 187);
}
.View-title p{
  position: absolute;
  top:20px;
  left: 30px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}