//css公共参数


$click-color = #3D516B
$light-color = #E6F0FC
$hover-color = #3d516b1a
$background-gray-color = #ECECEC

$text-color-title-black = #303133
$text-color-table-black = #606266
$text-color-text-black = #999999

$dividing-color = #dcdfe6

$odd-child = #f3f3f3

$up-color = #FC514E
$drop-color = #1BAB18 

$margin = 20px
$margin-half = 10px






